<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yelpcamp</title>
</head>
<body>
    <footer class="footer bg-dark py-3 mt-auto">
        <div class="container">
            <span class="text-light">&copy;Yelpcamp</span>
        </div>
    </footer>
</body>
</html>
